$secondary-color: #125688;

@import "node_modules/materialize-css/sass/materialize.scss";
@import "./loader";

body {
  background: #fafafa;
  color: #125688;
  font-family: "Montserrat", sans-serif;
}

.landing {
  margin: 30px auto;
}

.iphone {
  max-width: 100%;
}
.insta-img {
  margin-top: 95px;
  text-align: center;
}

.site-footer {
  text-transform: uppercase;
  font-size: 12px;
}

.login-box,
.signup-box {
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 3px;
  padding: 10px 0;
  text-align: center;
}

.title {
  font-family: "Oleo Script", cursive;
  font-size: 35px;
  color: #141414 !important;
}

.signup-form {
  width: 65%;
  margin: 0 auto;
}

.signup-form h2 {
  color: #a5a7aa;
  font-size: 1.2em;
}

.signup-form .btn.btn-fb {
  background-color: #4090db;
  font-size: 0.8em;
}

.signup-form .btn.btn-fb:hover {
  background-color: #2d6599;
}

.signup-form .btn.btn-signup {
  background-color: #125688;
}

/*Homepage*/

.header {
  background-color: white;
  color: $secondary-color;
  box-shadow: none;
  border-bottom: 1px solid #edeeee;
}

.timeline {
  padding: 30px 0;
}

$avatar-size: 48px;

.avatar {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  float: left;
  margin-right: 12px;
}

.card .username {
  color: $secondary-color;
  font-size: 15px;
}
.card small.time {
  line-height: $avatar-size;
}

.card p {
  padding: 20px 0;
}

.card .likes {
  line-height: 30px;
  margin-left: 12px;
}

.card i {
  font-size: 30px;
}

.card .fa-heart-o {
  color: $secondary-color;
}

.card .fa-heart {
  color: #f44336;
  display: none;
}

.card.liked {
  .fa-heart {
    display: block;
  }

  .fa-heart-o {
    display: none;
  }
}

// Form upload picture

.form-upload {
  span,
  button {
    color: white;
  }

  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;

    input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
}

// PROFILE
.profile-avatar {
  border-radius: 50%;
  border: 7px double rgba(39, 38, 38, 0.096);
}

@media (min-width: 320px) {
  .profile-avatar {
    width: 150px;
    height: 150px;
    margin-left: 50px;
  }
}

@media (min-width: 480px) {
  .profile-avatar {
    width: 150px;
    height: 150px;
    margin-left: 50px;
  }
}

@media (min-width: 600px) {
  .profile-avatar {
    width: 150px;
    height: 150px;
    margin-left: 0px;
  }
}

@media (min-width: 800px) {
  .profile-avatar {
    width: 150px;
    height: 150px;
    margin-left: 0px;
  }
}

@media (min-width: 1024px) {
  .profile-avatar {
    width: 150px;
    height: 150px;
    margin-left: 0px;
  }
}

@media (min-width: 1354px) {
  .profile-avatar {
    width: 150px;
    height: 150px;
    margin-left: 150px;
  }
}

.profile-username {
  color: #262626;
  font-size: 28px;
  font-weight: 300;
}

.fullname {
  color: #262626;
  font-size: 16px;
  font-weight: bold;
}

.picture-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  margin-bottom: 20px;
  position: relative;

  &:hover {
    .likes {
      display: flex;
    }
  }

  .picture {
    margin-bottom: 20px;
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  .likes {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    color: #f44336;
    font-size: 34px;
    display: none;
  }

  .fa-heart {
    margin-right: 8px;
    display: inline-block;
  }
}

.modal {
  img {
    max-width: 90%;
    max-height: 90%;
  }

  .fa-heart {
    display: inline-block;
    color: #f44336;
  }
}
